<%- include('partials/header.ejs') %>

<section class="dashboard padding-section primary-bg-color">
  <!-- NAVBAR -->
  <nav>
    <ul>
      <li class="dashboard-title secondary-color">
        <span class="titillium-web-black txt-uppercase">Magic Fly</span>
        <span class="lato-thin">Dashboard</span>
      </li>
    </ul>
    <ul>
      <li>
        <form action="/logout" method="post">
          <button class="logout-button secondary-bg-color primary-color" type="submit" class="outline">
            Déconnexion
          </button>
        </form>
      </li>
    </ul>
  </nav>

  <section class="dashboard-videos primary-bg-color">
    <form class="video-form-add" action="/add-video-link" method="post">
      <div>
        <input class="input-form-video" type="url" name="url" placeholder="URL Video Youtube" />
      </div>
      <button type="submit">Ajouter</button>
    </form>

    <div class="dashboard-videos-gallery">
      <% if(videos && videos.length > 0) { %> <% videos.forEach((video) => { %>
      <div class="video-gallery secondary-bg-color">
        <iframe
          src="<%= video.url %>"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
        <form
          class="video-form-delete"
          action="/delete-video-link/<%= video.recordId %>"
          method="post"
          class="delete-video-form"
        >
          <button type="submit" class="delete-btn">Supprimer</button>
        </form>
      </div>
      <% });} %>
    </div>
  </section>
</section>

<%- include('partials/footer.ejs') %>
