<%- include('partials/header.ejs') %>

<!-- HEADER -->
<header class="padding-section">
  <nav>
    <ul class="lato-light">
      <li><a class="secondary-color" href="#presentation">Présentation</a></li>
      <li><a class="secondary-color" href="#youtube">Vidéos</a></li>
      <li><a class="secondary-color" href="#pictures">Photos</a></li>
      <li><a class="secondary-color" href="#contacts">Contacts</a></li>
    </ul>
  </nav>
  <div class="secondary-color">
    <h1 class="titillium-web-black txt-uppercase">Magic Fly</h1>
    <p class="lato-thin txt-uppercase">Musique Live</p>
  </div>
  <img src="/assets/svg/arrow-down-circle.svg" />
</header>

<!-- PRESENTATION -->
<section id="presentation" class="presentation padding-section primary-color lato-light">
  <img src="/assets/images/presentation.jpg" alt="photo de présentation" />
  <div>
    <p>
      <span class="bold">Magic Fly</span> est un groupe de reprises musicales basé dans le Grand Est, à proximité du
      Luxembourg et de la Belgique. Depuis plusieurs années, nous interprétons en live les grands classiques de la
      chanson française et internationale, des années 70, 80, 90 jusqu’aux hits actuels.
    </p>
    <p>
      Spécialisés dans l’animation musicale d’événements, nous proposons un répertoire varié et dansant, idéal pour les
      soirées privées, anniversaires, soirées d’entreprise, événements associatifs ou fêtes locales.
    </p>
    <p>
      Notre objectif : créer une ambiance conviviale et festive à travers des prestations musicales de qualité, adaptées
      à votre public et à vos envies.
    </p>
  </div>
</section>

<!-- YOUTUBE SECTION -->
<section id="youtube" class="youtube-section padding-section">
  <section class="youtube-players padding-section">
    <% if(videos && videos.length > 0) { %>
    <!--  -->
    <% videos.forEach((video) => { %>
    <iframe
      src="<%= video.url %>"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <% }); %>
    <!--  -->
    <%}%>
  </section>

  <section class="padding-section">
    <hr />
  </section>

  <!-- SECTION PHOTO -->
  <section id="pictures" class="pictures-section padding-section">
    <% if(pictures && pictures.length > 0) { %>
    <!--  -->
    <% pictures.forEach((picture) => { %>
    <img src="<%= picture.url %>" />
    <% }); %>
    <!--  -->
    <%}%>
  </section>
</section>

<footer class="padding-section" id="contacts">
  <div class="contact-information-container">
    <p class="contact-information">📞 06 81 08 20 64</p>
    <p class="contact-information">✉️ groupemagicfly@gmail.com</p>
  </div>
  <form action="/send-email-contact" method="post">
    <label>
      Nom / Prénom
      <input name="fullName" placeholder="Jean Dupont" autocomplete="given-name" required />
    </label>
    <fieldset class="grid">
      <label>
        Email
        <input type="email" name="email" placeholder="jean-dupont@mail.com" autocomplete="email" required />
      </label>
      <label>
        Téléphone
        <input type="number" name="phone" placeholder="06 01 02 03 04" autocomplete="email" required />
      </label>
    </fieldset>
    <label>
      Objet
      <select name="subject" required>
        <option value="" disabled selected>Choisissez un objet</option>
        <option value="Demande de devis">Demande de devis</option>
        <option value="Demande d'informations">Demande d'informations</option>
        <option value="Autre">Autre</option>
      </select>
    </label>
    <label>
      Message
      <textarea name="message" placeholder="Votre message" rows="5" required></textarea>
    </label>

    <input type="submit" value="Envoyer" />
  </form>
</footer>

<%- include('partials/footer.ejs') %>
