<%- include('partials/header.ejs') %>
<section class="login">
  <div class="login-title primary-color">
    <span class="titillium-web-black txt-uppercase">Magice Fly</span>
    <span class="lato-thin">Dashboard</span>
  </div>
  <form action="/login" method="POST">
    <% if (locals.errorMessage) { %>
    <p class="txt-ctr lato-regular primary-color secondary-bg-color bold"><%=errorMessage%></p>
    <%}%>
    <div>
      <input type="email" id="email" name="email" placeholder="Adresse email" required />
    </div>

    <div>
      <input type="password" id="password" name="password" placeholder="Mot de passe" required />
    </div>

    <div>
      <button type="submit">Se connecter</button>
    </div>
  </form>
</section>
<%- include('partials/footer.ejs') %>
