@import url("./fonts.css");
@import url("./colors.css");
/* ------------------------------------------------------------------------------------------ */
/* GENERIC CSS */

.padding-section {
  padding: 5%;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-ctr {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------ */
/* HEADER SECTION */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

header ul {
  display: flex;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  gap: 0 clamp(0.8rem, 2vw, 2.5rem);
}

header a:hover {
  color: var(--white-colore-hover);
}

header h1 {
  font-size: clamp(4rem, 7vw, 10rem);
  line-height: 0.8;
}

header p {
  font-size: clamp(1.8rem, 2.5vw, 10rem);
}

header img {
  animation: bounce 1.5s infinite ease-in-out;
  display: inline-block;
  width: clamp(3rem, 5vw, 4.5rem);
}

/* ------------------------------------------------------------------------------------------ */
/* PRESENTATION SECTION */
.presentation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: clamp(1rem, 1.5vw, 3rem);
  line-height: 1.6;
}

.presentation img {
  width: 100%;
  object-fit: cover;
}

.presentation div {
  padding: 5%;
}

/* ------------------------------------------------------------------------------------------ */
/* MEDIAS SECTION */
.videos {
  padding-bottom: 0;
}

.videos div {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.videos iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

.pictures {
  padding-top: 0;
}

.pictures div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.pictures img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .presentation {
    grid-template-columns: repeat(1, 1fr);
  }

  .presentation div {
    padding: 5% 0;
  }

  .videos div,
  .pictures div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .videos div,
  .pictures div {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ------------------------------------------------------------------------------------------ */
/* DASHBOARD */

.dashboard-pictures {
  display: grid;
  gap: 20px;
  margin-top: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.photo-card {
  border-radius: 8px;
  background: var(--pico-primary);
}

.photo-wrapper {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  background-color: var(--pico-primary);
}

.photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-info {
  padding: 15px;
}

.photo-info button {
  margin: 0;
  padding: 5px 10px;
}

/* ------------------------------------------------------------------------------------------ */
/* FOOTER */
footer * {
  color: #000;
}

footer {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ------------------------------------------------------------------------------------------ */
/* ANIMATION */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
