@import url("./fonts.css");
@import url("./colors.css");
/* ------------------------------------------------------------------------------------------ */
/* GENERIC CSS */

.padding-section {
  padding: 5%;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-ctr {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------ */
/* HEADER  */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

header ul {
  display: flex;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  gap: 0 clamp(0.8rem, 2vw, 2.5rem);
}

header a:hover {
  color: var(--white-colore-hover);
}

header h1 {
  font-size: clamp(4rem, 7vw, 10rem);
  line-height: 0.8;
}

header p {
  font-size: clamp(1.8rem, 2.5vw, 10rem);
}

header img {
  animation: bounce 1.5s infinite ease-in-out;
  display: inline-block;
  width: clamp(3rem, 5vw, 4.5rem);
}

/* ------------------------------------------------------------------------------------------ */
/* PRESENTATION SECTION */
.presentation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: clamp(1rem, 1.5vw, 3rem);
  line-height: 1.6;
}

.presentation img {
  width: 100%;
  object-fit: cover;
}

.presentation div {
  padding: 5%;
}

/* ------------------------------------------------------------------------------------------ */
/* MEDIAS SECTION */
.videos {
  padding-bottom: 0;
}

.videos div {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.videos iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

.pictures {
  padding-top: 0;
}

.pictures div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.pictures img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 8px;
}

/* ------------------------------------------------------------------------------------------ */
/* FOOTER */
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

footer form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: clamp(15rem, 50vw, 50rem);
}

footer form label {
  display: block;
  margin-bottom: 0.5rem;
}

footer input[type="submit"] {
  border: none;
}

footer input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--primary-color-hover);
}

form textarea {
  min-height: 100px;
  resize: vertical;
}

footer form input,
footer form select,
footer form textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

footer p {
  font-size: clamp(1.3rem, 1.5vw, 1.6rem);
  margin-bottom: 1rem;
}

footer a {
  margin: 2rem 0.7rem;
}

footer a img {
  width: 2rem;
}

.form-message {
  font-size: 1rem;
  margin: 0;
}

.footer-infos {
  text-align: center;
  margin-bottom: 3rem;
}

/* ------------------------------------------------------------------------------------------ */
/* LOGIN PAGE */

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.login-title {
  font-size: clamp(2rem, 5vw, 4rem);
  margin-bottom: 2rem;
}

.login p {
  font-size: clamp(1.3rem, 3vw, 1.6rem);
  margin: 2rem 0;
  padding: 0.8rem;
  border-radius: 8px;
}

.login form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: clamp(20rem, 20vw, 25rem);
}

.login label {
  display: block;
  margin-bottom: 0.5rem;
}

.login form input,
.login form button {
  width: 100%;
  box-sizing: border-box;
}

.login form input,
.login form button {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

/* ------------------------------------------------------------------------------------------ */
/* DASHBOARD PAGE */
.dashboard {
  padding: 1% 8%;
  box-sizing: border-box;
}

.dashboard-videos {
  margin-bottom: 5rem;
}

.dashboard nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5rem;
}

.dashboard-title {
  font-size: clamp(1rem, 5vw, 2.3rem);
  margin-bottom: 2rem;
}

.logout-button {
  padding: 0.75rem;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: 1rem;
}

.video-form-add {
  margin-bottom: 3rem;
}

.input-form-video {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 1rem;
}

.dashboard-media-gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.dashboard-media-gallery div {
  border-radius: 8px;
  border: 1px solid;
}

.dashboard-videos iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px 8px 0 0;
}

.video-form-delete,
.picture-form-delete {
  padding: 1rem;
}

.dashboard-videos button,
.picture-gallery button {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.8rem;
  cursor: pointer;
}

.form-picture {
  margin: 3rem 0;
}

.photo-card {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 1024px) {
  .presentation,
  footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .presentation div {
    padding: 5% 0;
  }

  .dashboard-media-gallery,
  .videos div,
  .pictures div {
    grid-template-columns: repeat(2, 1fr);
  }

  footer form {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .dashboard-media-gallery,
  .videos div,
  .pictures div {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ------------------------------------------------------------------------------------------ */
/* ANIMATION */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
